{% extends "base.html" %}
{% block content %}
<div class="container text-center">
<h2>About</h2><br>
</div>
<div class="container text-left">
    Rega is a program designed to predict the regioselectivty of various reactions. This is currently limited to zinc sulfinate-mediated C-H Functionalisation Reactions but will in future be expanded to more systems. Rega uses Quantum Mechanical calculations to identify labile sites within your desired compound and give you the proportion of each potential regioisomer that could be formed in your reaction.<br>
</div>
{% endblock %}