{% extends "base.html" %}
{% block content %}
<div class="container text-center">
<h2>Sign In</h2><br>
<div class="form-outline mb-4" style="margin: auto; width: 50%">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username }}<br>
        {% for error in form.username.errors %}
            <div class="alert alert-danger" style="margin: auto; width: 70%" role="alert">
                {{ error }}
            </div>
        <br><br>
        {% endfor %}
        {{ form.password }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" style="margin: auto; width: 70%" role="alert">
                {{ error }}
            </div>
        <br><br>
        {% endfor %}
        {{ form.submit() }}
    </form>
</div>
    {% for error in errors %}
        <div class="alert alert-danger" style="margin: auto; width: 70%" role="alert">
            {{ error }}
        </div>
        <br><br>
    {% endfor %}
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
    <!--<p>Forgotten Your Password? <a href="#">Click to Reset!</a></p>-->
</div>
{% endblock %}