{% extends "base.html" %}
{% block content %}
<div class="container text-center">
<h2>References</h2><br>
</div>
<div class="container text-left">
<b>1.</b>&nbsp;&nbsp;&nbsp;&nbsp;   T. Cernak, K. D. Dykstra, S. Tyagarajan, P. Vachal and S. W. Krska, <i>Chem. Soc. Rev</i>., 2016, <b>45</b>, 546–576.<br>
<b>2.</b>&nbsp;&nbsp;&nbsp;&nbsp;   A. P. Taylor, R. P. Robinson, Y. M. Fobian, D. C. Blakemore, L. H. Jones and O. Fadeyi, <i>Org. Biomol. Chem</i>., 2016, <b>14</b>, 6611–6637.<br>
<b>3.</b>&nbsp;&nbsp;&nbsp;&nbsp;   B. R. Langlois, E. Laurent and N. Roidot, <i>Tetrahedron Lett</i>., 1991, <b>32</b>, 7525–7528.<br>
<b>4.</b>&nbsp;&nbsp;&nbsp;&nbsp;  Y. Fujiwara, J. A. Dixon, F. O’Hara, E. D. Funder, D. D. Dixon, R. A. Rodriguez, R. D. Baxter, B. Herlé, N. Sach, M. R. Collins, Y. Ishihara and P. S. Baran, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Nature</i>, 2012, <b>492</b>, 95–99.<br>
<b>5.</b>&nbsp;&nbsp;&nbsp;&nbsp;   J. M. Smith, J. A. Dixon, J. N. DeGruyter and P. S. Baran, <i>J. Med. Chem</i>., 2019, <b>62</b>, 2256–2264.<br>
<b>6.</b>&nbsp;&nbsp;&nbsp;&nbsp;   M. Yan, J. C. Lo, J. T. Edwards and P. S. Baran, <i>J. Am. Chem. Soc</i>., 2016, <b>138</b>, 12692–12714.<br>
<b>7.</b>&nbsp;&nbsp;&nbsp;&nbsp;   Y. Fujiwara, J. A. Dixon, R. A. Rodriguez, R. D. Baxter, D. D. Dixon, M. R. Collins, D. G. Blackmond and P. S. Baran, <i>J. Am. Chem. Soc</i>., 2012, <b>134</b>, 1494–1497.<br>
<b>8.</b>&nbsp;&nbsp;&nbsp;&nbsp;   Q. Zhou, A. Ruffoni, R. Gianatassio, Y. Fujiwara, E. Sella, D. Shabat and P. S. Baran, <i>Angew. Chemie Int. Ed</i>., 2013, <b>52</b>, 3949–3952.<br>
<b>9.</b> &nbsp;&nbsp;&nbsp;&nbsp;  J. Gui, Q. Zhou, C.-M. Pan, Y. Yabe, A. C. Burns, M. R. Collins, M. A. Ornelas, Y. Ishihara and P. S. Baran, <i>J. Am. Chem. Soc</i>., 2014, <b>136</b>, 4853–4856.<br>
<b>10.</b> &nbsp;&nbsp; Y. Ji, T. Brueckl, R. D. Baxter, Y. Fujiwara, I. B. Seiple, S. Su, D. G. Blackmond and P. S. Baran, <i>Proc. Natl. Acad. Sci. U. S. A</i>., 2011, <b>108</b>, 14411–5.<br>
</div>
{% endblock %}